:root {
	--z-index-game: 1;
	--z-index-UI: 10;
	--button-height: 50px;
	--standard-padding: 20px;
	--ui-distance-from-edge: 10px;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}

/**
DEBUGS
*/
.debug_drawcalls {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	font-size: 14px;
}

/**
UI ELEMENTS
*/
.ui {
	position: fixed;
	z-index: var(--z-index-UI);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	pointer-events: none;
}

.ui {
	> * {
		position: absolute;

		button {
			border: 1px solid grey;
			height: var(--button-height);
			box-sizing: border-box;

			cursor: pointer;
			pointer-events: all;

			&[data-selected='true'] {
				border: 4px solid white;
			}

			img {
				height: var(--button-height);
			}
		}
	}

	.region_menu {
		top: 0;
		left: var(--ui-distance-from-edge);
	}

	.region_towers, .region_powers {
		bottom: var(--ui-distance-from-edge);
		width: 100%;
		height: var(--button-height);
		text-align: center;
	}

	.region_powers {
		left: var(--ui-distance-from-edge);
		width: 25%;
		text-align: left;
	}
}

.ui .region_economy {
	display: flex;
	gap: 5px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 50px;
	margin: auto;
}

.ui .region_economy .label {
	width: 50px;
	height: 50px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	background: rgba(0, 0, 0, 0.2);
}

.ui .popup {
	position: fixed;
	top: 50%;
	left: 50%;
	padding: var(--standard-padding);
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
	pointer-events: all;

	transform: translate(-50%, -50%);
}
